In [1]:
import matplotlib as mpl
mpl.rcParams['figure.figsize'] = [12, 8]
mpl.rcParams['figure.dpi'] = 150 # 200 e.g. is really fine, but slower
import warnings
warnings.filterwarnings('ignore')

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from IPython.display import clear_output

In [4]:
ipl_auction = pd.read_csv('data/IPLPlayerAuctionData.csv')

In [5]:
ipl_auction.head()

,Player,Role,Amount,Team,Year,Player Origin
0,Aaron Finch,Batsman,40000000,Sunrisers Hyderabad,2014.0,Overseas
1,Aaron Finch,Batsman,32000000,Mumbai Indians,2015.0,Overseas
2,Aaron Finch,Batsman,10000000,Gujarat Lions,2016.0,Overseas
3,Aaron Finch,Batsman,62000000,Kings XI Punjab,2018.0,Overseas
4,Aaron Finch,Batsman,44000000,Royal Challengers Bangalore,2020.0,Overseas

Removing rows with null Year

In [15]:
ipl_auction[~ipl_auction.Year.isnull()].Year.isnull().sum()

0

In [16]:
ipl_auction = ipl_auction[~ipl_auction.Year.isnull()]

In [17]:
player_year = ipl_auction[['Player','Year']]

In [21]:
player_year.Year = pd.to_numeric(player_year.Year, downcast='integer')

In [22]:
player_year.head()

        Player  Year
0  Aaron Finch  2014
1  Aaron Finch  2015
2  Aaron Finch  2016
3  Aaron Finch  2018
4  Aaron Finch  2020

In [24]:
player_year.to_csv('data/player_year.csv',index=False)